body {
    border-style: solid;
    border-color: grey;
    margin: 10px 150px 0px 130px;
}

.col-xs-1 {
    max-width: 70px;
}

.arrow {
    position: absolute;
    background-color: white;
    border: none;
    margin-left: 30px;
    margin-top: 39px;
    cursor: pointer;
}

.paragraph2 {
    text-align: left;
    font-size: 13px;
    font-weight: bold;
    margin-top: 40px;
    margin-left: 0;
}

.title {
    color: rgb(57, 93, 255);
    font-size: 40px;
    margin-left: 30px;
    
}

.paragraph {
    margin-left: 30px;
    font-size: 17px;
    text-decoration: underline rgb(57, 93, 255) 2px;
}

.topnav {
    margin-bottom: 20px;
    border-bottom: solid;
    border-width: 2px;
    border-color: grey;
    padding-top: 10px;
    padding-bottom: 30px;
}

.search {
    margin-left: 30px;
    width: 200px;
    border-color: rgb(165, 156, 156);
    border-radius: 15px;
    padding: 5px 5px 5px 10px;
    margin-top: 20px;
}

.button1 {
    margin-left: 12px;
    border-radius: 15px;
    color: white;
    background-color: rgb(57, 93, 255);
    border-color: rgb(57, 93, 255);
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.button1:hover {
    background-color: rgb(17, 17, 107);
    border-color: rgb(17, 17, 107);
}

.button2 {
    margin-left: 5px;
    border-radius: 15px;
    color: rgb(57, 93, 255);
    background-color: white;
    border-color: rgb(57, 93, 255);
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.button2:hover {
    background-color: rgb(17, 17, 107);
    color: white;
    border-color: rgb(17, 17, 107);
}

.button3 {
    margin-left: 5px;
    border-radius: 15px;
    color: rgb(57, 93, 255);
    background-color: white;
    border-color: rgb(57, 93, 255);
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.button3:hover {
    background-color: rgb(17, 17, 107);
    color: white;
    border-color: rgb(17, 17, 107);
}

.table1 {
    width: 93%;
    visibility: visible;
}

.table2 {
    width: 93%;
    visibility: visible;
}

.table3 {
    width: 93%;
    visibility: visible;
}

.table1, th, td{
    border-collapse: collapse;
    margin-left: 30px;
    margin-top: 30px;
    text-align: left;
    padding: 10px 10px 10px 10px;
}

.table2, th, td{
    border-collapse: collapse;
    margin-left: 30px;
    margin-top: 30px;
    text-align: left;
    padding: 10px 10px 10px 10px;
}

.table3, th, td{
    border-collapse: collapse;
    margin-left: 30px;
    margin-top: 30px;
    text-align: left;
    padding: 10px 10px 10px 10px;
}

.collon1 {
    text-align: center;
}

.row1 {
    background-color: rgb(6, 6, 47);
    color: white;
}

.row2 {
    border-bottom: rgb(239, 233, 233) 6px solid;
}

.button4 {
    display: block;
    position: relative;
    top: 10px;
    left: 1040px;
    background-color: rgb(235, 90, 90);
    color: white;
    border: 0;
    width: 140px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 40px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.button4:hover {
    background-color: rgb(249, 0, 0);
}

.topright {
    position: absolute;
    cursor: pointer;
    color: red;
    padding: 10px;
    font-weight: bolder;
    font-size: larger;
}




 
